<div class="container">
    <h2 style="text-align: center;">Let's Get Started</h2>
    <form [formGroup]="loginForm" (ngSubmit)="Login()">
        <div class="form-group">
            <label for="EmailAddress">Email address</label>
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fas fa-user"></i>
                    </div>
                </div>
                <input type="email" class="form-control" id="EmailAddress" formControlName="EmailAddress"
                    placeholder="Enter email">

            </div>
            <div *ngIf="(f.EmailAddress.touched || submitted) && f.EmailAddress.invalid" class="alert alert-danger">
                <div *ngIf="f.EmailAddress.errors.required">Email Address Is Required</div>
                <div *ngIf="!f.EmailAddress.errors.required">Email Address Is Not Valid </div>
            </div>
        </div>
        <div class="form-group">
            <label for="Password">Password</label>
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                    </div>
                </div>
                <input [type]="hide ? 'password' : 'text'" class="form-control" id="Password" formControlName="Password"
                    placeholder="Password">

                <div class="input-group-append">
                    <div class="input-group-text">
                        <!-- <mat-icon style="cursor: pointer;" matSuffix (click)="hide = !hide">{{hide ?
                            'visibility_off' :
                            'visibility'}}</mat-icon> -->
                    </div>
                </div>
            </div>
            <div *ngIf="(f.Password.touched || submitted) && f.Password.invalid" class="alert alert-danger">
                <div *ngIf="f.Password.errors.required">Password Is Required</div>
            </div>
        </div>
        <button class="btn btn-primary w-100">Login</button>
    </form>
</div>